In [1]:
import pandas as pd # to get dataframes
from faker import Faker # to generate fake data
import random # random Values
from datetime import date # get date

In [2]:
fake=Faker()# assigning the fake value

In [7]:
 #creating list to store the values 
Categories=['Groceries','Utilities','Rent','Entertainment','Insurance','Travel','Subscription','Taxes','Investmemnts']
Payment_mode=['Paytm','Gpay','Credit_card','Debit_card','Cash','Paypal','Check','Bank_transfer','Visa']
Description=['High Quality incredients','Bills are dued every month','The rent of the apartment is due at 1 of every month',
             'I enjoys watching movies at the theatre','Investment in any like of vehicle make people free ','Exploring new destination and adventures',
             'Subcribed to interesting services','I keeps track of my receipts and expenses','Diversifying the money in stock, real-estate and FD increases finacial stabilty for the future']

In [9]:
#creating the function to generate expenses
def get_expense(enteries,start_date,end_date):
    values=[] #empty_list
    for _ in range(enteries):
        amount=round(random.uniform(1000,10000),2)
        expenses={
            'DATE':fake.date_between(start_date=start_date,end_date=end_date),
            'CATEGORIES':random.choice(Categories),
            'PAYMENT_MODE':random.choice(Payment_mode),
            'DESCRIPTION':random.choice(Description),
            'AMOUNTS':amount,
            "CASHBACK": round(random.uniform(0, 0.1) * amount, 2)
        }
        values.append(expenses)
    return pd.DataFrame(values)

months=[
    (2024,1,1,2024,1,31),
    (2024,2,1,2024,2,28),
    (2024,3,1,2024,3,31),
    (2024,4,1,2024,4,30),
    (2024,5,1,2024,5,31),
    (2024,6,1,2024,6,30),
    (2024,7,1,2024,7,31),   
    (2024,8,1,2024,8,31),
    (2024,9,1,2024,9,30),
    (2024,10,1,2024,10,31),
    (2024,11,1,2024,11,30),
    (2024,12,1,2024,12,31)
]


# List to hold the DateFrames
all_expenses=[]

# getting data for each months
for year_start,month_start,date_start,year_end,month_end,date_end in months:
    df=get_expense(151,date(year_start,month_start,date_start), date(year_end,month_end,date_end))
    all_expenses.append(df)

combined_expenses=pd.concat(all_expenses,ignore_index=True)
print(combined_expenses)

            DATE     CATEGORIES   PAYMENT_MODE  \
0     2024-01-06  Entertainment     Debit_card
1     2024-01-24          Taxes  Bank_transfer
2     2024-01-17      Groceries    Credit_card
3     2024-01-25         Travel           Gpay
4     2024-01-08      Utilities          Check
...          ...            ...            ...
1807  2024-12-01         Travel          Paytm
1808  2024-12-11         Travel           Visa
1809  2024-12-13  Entertainment         Paypal
1810  2024-12-05      Utilities     Debit_card
1811  2024-12-24   Subscription         Paypal

                                            DESCRIPTION  AMOUNTS  CASHBACK
0     Investment in any like of vehicle make people ...  9128.39    315.54
1             I keeps track of my receipts and expenses  4256.59    287.86
2                     Subcribed to interesting services  5829.65    501.20
3     The rent of the apartment is due at 1 of every...  7537.39    283.20
4     Diversifying the money in stock, real-estate a...  6790.33    359.06
...                                                 ...      ...       ...
1807            I enjoys watching movies at the theatre  8607.02    538.55
1808  The rent of the apartment is due at 1 of every...  1484.95    129.03
1809                           High Quality incredients  6210.66    337.95
1810                           High Quality incredients  1283.44     46.10
1811  Diversifying the money in stock, real-estate a...  4076.88    371.17

[1812 rows x 6 columns]

In [11]:
file_name='combined_expenses.csv'
combined_expenses.to_csv(file_name,index=False)

In [13]:
import pymysql

In [17]:
file_name='combined_expenses.csv'
df=pd.read_csv(file_name)
conn=pymysql.connect(host='localhost',user='root',password='789456ujjwal@',database='TRACKER_EXPENSE')

cursor=conn.cursor()

# creating table if not their
cursor.execute("""
CREATE TABLE IF NOT EXISTS combined_expenses(
Date DATE,
Categories varchar(100),
Payment_Mode varchar(40),
Description text,
Amount Decimal(10,2),
Cashback Decimal(10,2)
)
""")
# inserting the data
for index,row in df.iterrows():
    cursor.execute("""
    insert into combined_expenses(Date,Categories,Payment_Mode,Description,Amount,Cashback)
    values(%s, %s, %s, %s, %s, %s)
    """,tuple(row))
# commiting
conn.commit()
cursor.close()
conn.close()
print("Data Successfully inserted into Database")

Data Successfully inserted into Database