In [15]:
import pandas as pd # to get dataframes
from faker import Faker # to generate fake data
import random # random Values
from datetime import date # get date

In [17]:
fake=Faker()# assigning the fake value

In [19]:
 #creating list to store the values 
Categories=['Groceries','Utilities','Rent','Entertainment','Insurance','Travel','Subscription','Taxes','Investmemnts']
Payment_mode=['Paytm','Gpay','Credit_card','Debit_card','Cash','Paypal','Check','Bank_transfer','Visa']
Description=['High Quality incredients','Bills are dued every month','The rent of the apartment is due at 1 of every month',
             'I enjoys watching movies at the theatre','Investment in any like of vehicle make people free ','Exploring new destination and adventures',
             'Subcribed to interesting services','I keeps track of my receipts and expenses','Diversifying the money in stock, real-estate and FD increases finacial stabilty for the future']

In [21]:
#creating the function to generate expenses
def get_expense(enteries,start_date,end_date):
    values=[] #empty_list
    for _ in range(enteries):
        amount=round(random.uniform(1000,10000),2)
        expenses={
            'DATE':fake.date_between(start_date=start_date,end_date=end_date),
            'CATEGORIES':random.choice(Categories),
            'PAYMENT_MODE':random.choice(Payment_mode),
            'DESCRIPTION':random.choice(Description),
            'AMOUNTS':amount,
            "CASHBACK": round(random.uniform(0, 0.1) * amount, 2)
        }
        values.append(expenses)
    return pd.DataFrame(values)

months=[
    (2024,1,1,2024,1,31),
    (2024,2,1,2024,2,28),
    (2024,3,1,2024,3,31),
    (2024,4,1,2024,4,30),
    (2024,5,1,2024,5,31),
    (2024,6,1,2024,6,30),
    (2024,7,1,2024,7,31),   
    (2024,8,1,2024,8,31),
    (2024,9,1,2024,9,30),
    (2024,10,1,2024,10,31),
    (2024,11,1,2024,11,30),
    (2024,12,1,2024,12,31)
]


# List to hold the DateFrames
all_expenses=[]

# getting data for each months
for year_start,month_start,date_start,year_end,month_end,date_end in months:
    df=get_expense(151,date(year_start,month_start,date_start), date(year_end,month_end,date_end))
    all_expenses.append(df)

combined_expenses=pd.concat(all_expenses,ignore_index=True)
print(combined_expenses)

            DATE     CATEGORIES   PAYMENT_MODE  \
0     2024-01-20   Investmemnts     Debit_card
1     2024-01-18   Investmemnts           Visa
2     2024-01-30          Taxes          Check
3     2024-01-07  Entertainment           Cash
4     2024-01-11      Groceries           Cash
...          ...            ...            ...
1807  2024-12-01      Insurance           Cash
1808  2024-12-03          Taxes         Paypal
1809  2024-12-12   Subscription    Credit_card
1810  2024-12-22           Rent     Debit_card
1811  2024-12-17      Insurance  Bank_transfer

                                            DESCRIPTION  AMOUNTS  CASHBACK
0     Diversifying the money in stock, real-estate a...  2743.56     32.73
1     The rent of the apartment is due at 1 of every...  3598.74    315.46
2     Diversifying the money in stock, real-estate a...  4493.79     44.16
3     The rent of the apartment is due at 1 of every...  7049.76    135.51
4              Exploring new destination and adventures  3922.25    105.02
...                                                 ...      ...       ...
1807            I enjoys watching movies at the theatre  9486.25    939.06
1808  The rent of the apartment is due at 1 of every...  1772.08      9.46
1809           Exploring new destination and adventures  6759.89     43.42
1810           Exploring new destination and adventures  9911.68    957.99
1811            I enjoys watching movies at the theatre  4904.44    351.71

[1812 rows x 6 columns]

In [22]:
file_name='combined_expenses.csv'
combined_expenses.to_csv(file_name,index=False)

In [25]:
import pymysql

In [27]:
file_name='combined_expenses.csv'
df=pd.read_csv(file_name)
conn=pymysql.connect(host='localhost',user='root',password='789456ujjwal@',database='project_track_expense')

cursor=conn.cursor()

# creating table if not their
cursor.execute("""
CREATE TABLE IF NOT EXISTS combined_expenses(
Date DATE,
Categories varchar(100),
Payment_Mode varchar(40),
Description text,
Amount Decimal(10,2),
Cashback Decimal(10,2)
)
""")
# inserting the data
for index,row in df.iterrows():
    cursor.execute("""
    insert into combined_expenses(Date,Categories,Payment_Mode,Description,Amount,Cashback)
    values(%s, %s, %s, %s, %s, %s)
    """,tuple(row))
# commiting
conn.commit()
cursor.close()
conn.close()
print("Data Successfully inserted into Database")

Data Successfully inserted into Database